<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://www.cacert.org/certs/root.der</string>
	<string>http://victim2.local./AUCTestCA.cer</string>
	<string>http://victim2.local./AUCTestClient1.p12</string>
	<string>http://victim2.local./AUCTestClient2.p12</string>
	<string>http://victim2.local./AUCTestClient1-compat.p12</string>
	<string>http://victim2.local./AUCTestClient2-compat.p12</string>
</array>
</plist>
